{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Partenaires{{ item.title }}</h1>
    <p>{{ partner.id }}. {{ partner.name }}. {{ partner.address }}. {{ partner.url }}.</p>
    <a href="/items/edit?id={{ partner.id }}">Edit</a>
    <form action="/partners/delete" method="POST">
        <input type="hidden" name="id" value="{{ partner.id }}">
        <button>Delete</button>
    </form>
    <a href="/partners">Back</a>
{% endblock %}
