{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Partner {{ item.title }}</h1>
    <p>{{ partner.id }}. {{ partner.name }}</p>
    <a href="/items/edit?id={{ partner.id }}">Edit</a>
    <form action="/items/delete" method="POST">
        <input type="hidden" name="id" value="{{ partner.id }}">
        <button>Delete</button>
    </form>
    <a href="/items">Back</a>
{% endblock %}
